.item {
  min-width: 14rem;
  padding: 2%;
}

/* Slick CSS */
.slick-slide {
  outline: none;
}

.slick-slide img {
  display: flex;
  justify-content: center;
  max-width: 70%;
  margin: 0 auto;
  outline: none;
}

.slick-list .slick-track {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  outline: none;
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  margin-left: 10px;
  margin-right: 10px;
  outline: none;
}
