.component-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Neo Sans Pro", sans-serif !important;
}

.counter-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
  margin: 15px;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 32px;
  word-wrap: none !important;
}

.row-1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  word-wrap: none !important;
}

.row-2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  word-wrap: none !important;
}

.quadrant-1 {
  word-wrap: none !important;
  background-color: rgba(246, 246, 246, 0.923);
  font-weight: bold;
  padding: 10px;
  color: #acb6d4;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 12px;
}

.quadrant-1 h3 {
  color: rgb(65, 65, 65);
  font-weight: 600;
  word-wrap: normal !important;
}

.component-alumni {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  word-wrap: none !important;
}

.logo-component {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 90%;
}

.alumni {
  font-size: 32px;
  font-weight: 600;
  font-family: "Neo Sans Pro", sans-serif !important;
}

.border-alumni {
  width: 370px !important;
}

.border-layout {
  width: 410px !important;
  margin-bottom: 10px;
}

.layout-container {
  font-family: "Neo Sans Pro", sans-serif !important;
}

.border-news {
  width: 300px !important;
  margin-bottom: 10px;
}

.news-component {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.news-container {
  font-family: "Neo Sans Pro", sans-serif !important;
  margin: 10px;
  align-items: center;
  justify-items: center;
  justify-content: center;
  width: 90%;
}

.react-photo-album--photo {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  object-fit: fill;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px !important;
  border-radius: 2px;
}

@media (max-width: 900px) {
  .news-container {
    margin: 15px;
  }
}
@media (max-width: 414px) {
  .border-layout {
    width: 240px !important;
  }
  .news-container {
    width: 90%;
    margin: 20px;
  }
  .border-alumni {
    width: 365px !important;
  }
}

@media (max-width: 392px) {
  .border-alumni {
    width: 340px !important;
  }
}

@media (max-width: 366px) {
  .border-alumni {
    width: 320px !important;
  }
}

@media (max-width: 366px) {
  .border-alumni {
    width: 220px !important;
  }
}
