.accordion {
  font-family: "Exo", sans-serif !important;
  padding: 70px 15px;
}
#faq {
  width: 6rem;
}

.accordion-header > button {
  font-family: "Neo Sans Pro", sans-serif !important;
}
.accordion-item {
  font-family: "Neo Sans Pro", sans-serif !important;
  box-sizing: border-box;
  background: #f5f9ff;
  box-shadow: 0px 6.88695px 8.3652px rgba(74, 58, 255, 0.19);
  border-radius: 16.0695px;
  width: 100% !important;
}
.collapsed {
  background: #f5f9ff;
  padding: 32px 12px;
}

.accordion-body {
  font-family: "Neo Sans Pro", sans-serif !important;
  padding: 40px;
}
.accordion-item {
  padding: 12px;
  margin: 20px 1px;
}
