@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

.container-sm {
  font-family: "Exo", sans-serif !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about-text {
  font-family: "Exo", sans-serif !important;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  text-align: justify;
  color: #212121;
}

h4 .img {
  width: 35px;
  height: 35px;
}
.link {
  word-wrap: normal;
  word-break: normal;
}

.row-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.row-quick {
  display: flex;
  width: 100%;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.quicklinks {
  width: 50%;
  height: -moz-fit-content;
  height: fit-content;
  margin: 1.2rem auto;
  justify-items: center;
  background: #f5f9ff;
  border: 1px solid #212121;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 15px;
}

.gallery-style .react-photo-album--photo {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px !important;
  border-radius: 6px;
  align-items: center;
  justify-content: center;
  display: flex;
  justify-items: center;
  object-fit: cover;
}

.link {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.quicklinks .rowQLbig {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-left: 1.5rem;
}

.quicklinks .rowQLbig a {
  font-size: 22px;
}

.link-container {
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  justify-items: center !important;
  margin-bottom: 1.2rem;
  /*  */
}

.link-container > img {
  display: flex;
  margin-right: 15px;
  align-items: center;
  width: 35px !important;
  height: 35px !important;
}

.quicklinks h4 {
  cursor: pointer;
  flex-grow: 1;
  font-size: 22px;
  margin-right: 15px;
}

.popup-content {
  margin: auto !important;
  height: -moz-fit-content !important;
  height: fit-content !important;
}

[role="tooltip"].popup-content {
  font-family: "Exo", sans-serif !important;
  font-size: 16px;
  text-decoration: none;
  width: -moz-fit-content !important;
  padding: 12px 20px 0 0;
  width: fit-content !important;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px !important;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5) !important;
}
[data-popup="tooltip"].popup-overlay {
  background: transparent !important;
  list-style: lower-roman !important;
}

.quicklinks .hid1 ul li {
  text-decoration: none !important;
  font-family: "Exo", sans-serif !important;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24 px;
  text-align: center;

  color: #457b9d;
}

.d-flex {
  align-items: flex-start;
  justify-content: center;
}

.image-container-home {
  margin-left: 30px;
}

/* Image Styling */
.f-image img {
  width: 200px !important;
  height: 200px !important;
  object-fit: cover;
  object-position: 50%;
  /* border-radius: 19.7221px 0px; */
  border: 3px solid #004774;
  border-radius: 20px;
  z-index: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

@media (max-width: 768px) {
  .quicklinks {
    width: 80%;
  }

  .quicklinks h4 {
    margin: 1rem;
  }

  .quicklinks .rowQL {
    width: 100%;
  }

  .link-container {
    margin-bottom: 5px;
    margin-left: 10px;
  }

  .link-container > img {
    margin-right: 8px;
  }
}

@media (max-width: 768px) {
  .d-flex {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .image-container-home {
    margin-left: 0px !important;
  }
}

@media (max-width: 484px) {
  #aboutVCM {
    width: 22rem;
  }
}

@media (max-width: 399px) {
  .f_image img {
    width: 240px;
    height: 240px;
  }
}

@media (max-width: 386px) {
  .quicklinks {
    width: 90%;
  }
}

@media (max-width: 343px) {
  .quicklinks {
    width: 100%;
  }
}
