@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

.container-sm {
  font-family: "Montserrat" !important;
}
.about-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  text-align: justify;
  color: #212121;
}

h4 .img {
  width: 35px;
  height: 35px;
}
.link {
  word-wrap: normal;
  word-break: normal;
}

.row-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.row-quick {
  display: flex;
  width: 100%;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.quicklinks {
  width: 50%;
  height: -moz-fit-content;
  height: fit-content;
  margin: 1.2rem auto;
  justify-items: center;
  background: #f5f9ff;
  border: 1px solid #212121;
  border-radius: 15px;
}

.link {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.quicklinks .rowQLbig {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: auto;
  align-items: center;
}

.quicklinks .rowQLbig a {
  font-size: 22px;
}

.quicklinks h4 {
  margin: 1.5rem;
  cursor: pointer;
  flex-grow: 1;
  font-size: 22px;
}

.img {
  margin-right: 10px;
}

.popup-content {
  margin: auto !important;
  height: 150px !important;
  padding: 10px !important;
}

[role="tooltip"].popup-content {
  width: 325px !important;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px !important;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5) !important;
}
[data-popup="tooltip"].popup-overlay {
  background: transparent !important;
}

.quicklinks .hid1 ul li {
  text-decoration: none !important;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24 px;
  text-align: center;
  list-style: none;
  color: #457b9d;
}

#aboutBor {
  width: 170px;
}
#aboutAnn {
  width: 285px;
}
#aboutVCM {
  width: 35rem;
}
#aboutTPOM {
  width: 23rem;
}

.border-gallery {
  width: 430px;
  height: 3px;
  left: 162px;
  top: 394px;
  background-color: #457b9d;
  border: 1.60618px solid #457b9d;
  /* margin-left: 7rem; */
}

@media (max-width: 768px) {
  .quicklinks {
    width: 80%;
  }

  .quicklinks h4 {
    margin: 1rem;
  }

  .quicklinks .rowQL {
    width: 100%;
  }
}
@media (max-width: 760px) {
  #aboutVCM {
    width: 30rem;
  }
}

@media (max-width: 512px) {
  #aboutVCM {
    width: 28rem;
  }
}

@media (max-width: 453px) {
  .border-gallery {
    width: 360px;
  }
}

@media (max-width: 484px) {
  #aboutVCM {
    width: 22rem;
  }
}

@media (max-width: 386px) {
  #aboutVCM {
    width: 19rem;
  }

  #aboutTPOM {
    width: 17rem;
  }

  .quicklinks {
    width: 90%;
  }

  .border-gallery {
    width: 350px;
  }
}

@media (max-width: 384px) {
  .border-gallery {
    width: 290px;
  }
}

@media (max-width: 343px) {
  .quicklinks {
    width: 100%;
  }
}

@media (max-width: 331px) {
  #aboutVCM {
    width: 17rem;
  }
}

@media (max-width: 310px) {
  .border-gallery {
    width: 240px;
  }
}
