.headTNP {
  width: 100%;
  height: auto;
  font-family: "Neo Sans Pro", sans-serif !important;
}

.headImg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 53px;
}

.imaGE {
  width: 271px;
  height: 271px;

  background-image: url("https://res.cloudinary.com/daxilgrvn/image/upload/v1658460990/T_P%20Site/photo_2022-07-22_09-06-03_bd29u3.jpg");
  background-size: cover;
  background-position: 50%;
  border: 2.6439px solid #457b9d;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 30px 0px;
}

.headImg h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #212121;
  text-align: center;
}

.headImg h4 img {
  width: 40px;
  height: auto;
  vertical-align: middle;
}

.headImg h4 {
  font-size: 16px;
  line-height: 14px;
}
