/* Chart Container CSS */

.placement-head {
  margin-top: 1rem;

  font-family: "Neo Sans Pro", sans-serif !important;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: black;
}

.border-placement {
  width: 360px;
  height: 2.5px;
  left: 162px;
  top: 394px;
  background-color: #457b9d;
  border: 1px solid #457b9d;
  /* margin-left: 7rem; */
}

#recruiters {
  width: 280px !important;
  height: 2.5px !important;
  /* left: 162px; */
  top: 394px;
  background-color: #457b9d;
  border: 1px solid #457b9d;
  /* margin-left: 7rem; */
}

.bar {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  /* margin-right: 10px; */
  width: 650px;
  height: 350px;
  padding: 15px;
  border: 3px solid #457b9d;
}

.stats-container {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.training-head {
  margin-top: 1rem;
  margin-left: 7rem;

  font-family: "Neo Sans Pro", sans-serif !important;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: black;
}

.border-training {
  width: 320px;
  height: 2.5px;
  left: 162px;
  top: 394px;
  background-color: #457b9d;
  border: 1px solid #457b9d;
  margin-left: 7rem;
}

.past-year h4 {
  font-family: "Neo Sans Pro", sans-serif !important;
  text-decoration: underline;
  font-weight: bold;
}

.testimonials {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  margin-top: 0;
  font-family: "Neo Sans Pro", sans-serif !important;
  font-weight: 800;
}

.testimonials h2 {
  font-weight: 600;
}

.tableTitle {
  font-size: 20px !important;
}

.underline-head2 {
  height: 0.2rem;
  width: 17%;
  background-color: #457b9d;
  border-radius: 0.01rem;
}

h2 {
  font-family: "Neo Sans Pro", sans-serif !important;
  font-weight: 700;
}

.items-training .item-training {
  font-family: "Neo Sans Pro", sans-serif !important;
  color: rgb(0, 34, 113) !important;
  text-decoration: none !important;
  font-size: 20px;
  margin-bottom: 8px !important;
  padding: 0 !important;
  font-weight: 500;
}
.items-training .item-training a {
  text-decoration: none !important;
  margin-bottom: 16px !important;
  padding: 0 !important;
  color: black;
}
.items-training .item-training a:hover {
  color: rgb(0, 46, 106) !important;
}
.chartjs-size-monitor-shrink {
  position: absolute;
  direction: ltr;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  pointer-events: none;
  visibility: hidden;
  z-index: -1;
}

@media (max-width: 1200px) {
  .border-placement {
    align-self: start;
  }
  #recruiters {
    width: 220px;
  }
}

@media (max-width: 900px) {
  #recruiters {
    width: 220px;
  }
}

@media (max-width: 700px) {
  .bar {
    width: 590px;
    height: 400px;
  }
  #recruiters {
    width: 220px;
  }
}
@media (max-width: 600px) {
  .border-placement {
    align-self: start;
    margin-left: 4rem;
  }
  .bar {
    width: 550px !important;
  }
}

@media (max-width: 555px) {
  .bar {
    width: 500px !important;
  }
}

@media (max-width: 505px) {
  .bar {
    width: 450px !important;
    height: 400px !important;
  }
  #recruiters {
    width: 200px;
  }
}

@media (max-width: 465px) {
  .border-placement {
    width: 22rem;
  }

  .bar {
    width: 395px !important;
    height: 360px !important;
  }
}

@media (max-width: 400px) {
  .border-placement {
    width: 22rem;
  }

  .bar {
    width: 350px !important;
    height: 300px !important;
  }
  #recruiters {
    width: 190px;
  }
}
@media (max-width: 368px) {
  .border-placement {
    margin-left: 1.4rem;
    width: 21rem;
  }

  .bar {
    width: 325px !important;
    height: 290px !important;
  }
}

@media (max-width: 363px) {
  .border-placement {
    width: 13rem;
  }
}
@media (max-width: 336px) {
  .border-placement {
    width: 12rem;
  }

  .bar {
    width: 305px !important;
    height: 300px !important;
  }
}

@media (max-width: 316px) {
  .border-placement {
    width: 10rem;
  }

  .bar {
    width: 290px !important;
    height: 280px !important;
  }
}
