/*--List--*/
.navList {
  background: #f5f9ff;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Neo Sans Pro", sans-serif !important;
}
/*--Headings--*/
.PastROUnderline {
  width: 520px !important;
}

@media (max-width: 606px) {
  .PastROUnderline {
    width: 510px !important;
  }
}
@media (max-width: 536px) {
  .PastROUnderline {
    width: 490px !important;
  }
}
@media (max-width: 524px) {
  .PastROUnderline {
    width: 280px !important;
  }
}
@media (max-width: 360px) {
  .PastROUnderline {
    width: 14.4rem !important;
  }
}
