body {
  font-family: "Neo Sans Pro", sans-serif !important;
}

.accordion {
  padding: 15px;
}

.accordion-header button {
  font-family: "Neo Sans Pro", sans-serif !important;
  color: black;
  font-weight: 600;
}
#faq {
  width: 6rem;
}
.accordion-item {
  box-sizing: border-box;
  background: #f5f9ff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 16.0695px;
  width: 100% !important;
}
.collapsed {
  background: #f5f9ff;
  padding: 32px 12px;
}

.accordion-body {
  padding: 40px;
  text-align: justify;
}
.accordion-item {
  padding: 12px;
  margin: 20px 1px;
}
