@import url("https://fonts.googleapis.com/css2?family=Exo:wght@300;400;500;600;700;800;900&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Montserrat"; */
  font-family: "Exo", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  /* font-family: "Montserrat"; */
  font-family: "Exo", sans-serif !important;
}

body {
  /* font-family: "Montserrat"; */
  font-family: "Exo", sans-serif !important;
}

/*---------------Homepage CSS-----------------*/
@import url("./App.css");
