@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Montserrat"; */
  font-family: "Neo Sans Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  /* font-family: "Montserrat"; */
  font-family: "Neo Sans Pro", sans-serif;
}

body {
  /* font-family: "Montserrat"; */
  font-family: "Neo Sans Pro", sans-serif;
}

/*---------------Homepage CSS-----------------*/
@import url("./App.css");
