.testimonials {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  margin-top: 0;
}
.inner-carousel {
  width: 95%;
}

.tab-pane {
  font-family: "Neo Sans Pro", sans-serif !important;
}

.item {
  height: 3rem;
  min-width: 14rem;
  padding: 2%;
}

.carousel1 {
  margin: 2% 5%;
  cursor: grab;
  overflow: hidden;
  margin: 1%;
}
.carousel-item {
  transform: scale(0.8);
}

@media (max-width: 1322px) {
  .inner-carousel {
    width: 90%;
  }
}

@media (max-width: 450px) {
  .item {
    height: 4rem;
    min-width: 10rem;
    padding: 2%;
  }

  .inner-carousel {
    width: 70%;
  }
}
